{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
            <dl>
                <!--<dt>Zip Code:
                <dd><input type=text size=30 name=zip>
                -->
                <dd><input type=submit value='Update Info'>
            </dl>
        </form>
        <form action="{{ url_for('flush')}}" method=get class=flush-data>
            <dl>
                <dd><input type=submit value='Flush Data'>
            </dl>
        </form>
        <form action="{{ url_for('change_unit')}}" method=get class=change-unit>
            <dl>
                <dd><input type=submit value='Change Unit'>
            </dl>
        </form>
    {% endif %}
        <ul class=entries>
    {% for entry in entries %}
        <li><h2>{{ entry.time_stamp }}</h2>
        {% if unit == 'metric' %}
            <p>Temperature: {{ entry.temperature }}&deg C</p>
            <p>Humidity: {{ entry.humidity }}%</p>
            <p>Pressure: {{ entry.pressure }} PSI</p>
        {% endif %}
        {% if unit == 'imperial' %}
            <p>Temperature: {{ convert_temp(entry.temperature) }}&deg F</p>
            <p>Humidity: {{ entry.humidity }}%</p>
            <p>Pressure: {{ convert_pressure(entry.pressure) }} Pascals<p>
        {% endif %}
    {% else %}
        <li><em>No entries so far! Configure data settings in the admin dashboard.</em>
    {% endfor %}
    </ul>
{% endblock %}
